# dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# environment
.env
.env.local
.env.*.local

# debug
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# editor
.idea/
.vscode/

# typescript
*.tsbuildinfo
next-env.d.ts
